body 
{
  /*padding-top: 50px;*/
  font-family: 'Open Sans', sans-serif;
  background-color: #1c1c1d;
  color: #cecece;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 0rem;
    color: #969696;
}

/*
@media (min-width: 992px) {
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 0rem;
    color: #969696;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 1rem;
    background-color: #1c1c1d;
    color: #E0E0E0;
  }
}
*/

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.svg");
}

/*
.navbar-light .navbar-toggler:focus {
    border-color: rgba(224,224,224,1);
}
*/

h6
{
  font-size: 0.9rem;
  color: #969696;
}

h4 
{
  margin-top: 80px;
  margin-bottom: 40px;
}

h5
{
  font-size: 1.1rem;
}

.navbar 
{
  background-color: #1c1c1d;
}

button:focus
{
  outline: none;
}

.jumbotron {
    padding: 4rem 1rem;
    background-color: #1c1c1d;
    color: #E0E0E0;
    margin-top: 80px;
}

.nav-link.active
{
  color: #E0E0E0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #E0E0E0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #E0E0E0;
}